body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: floralwhite;
    margin: 0;
}

section.header {
    width: 100vm;
    height: 120px;
    background-image: linear-gradient(141deg, #DAD299 0%, #b0dab9 75%);
    position: relative;
}

#logo {
    width: 320px;
    height: auto;
    margin-left: 42px;
    margin-top: 20px;
}

section.header div.menu-bar {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 60px;
    margin-bottom: 4px;
    min-width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 32px;
    line-height: 28px;
}

section.header div.menu {
    width: 60px;
    height: 32px;
    line-height: 32px;
    display: block;
    text-align: center;
    color: white;
    background-color: rgba(128,128,255, .6);
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 2px -2px 12px #888888
}

section.header div.menu:hover {
    background-color: rgba(128,128,255, .8);
    overflow: visible;
}

section.header div.menu div.options {
    min-width: 100%;
    position: absolute;
    left: 0;
    margin-top: 0;
    padding: 4px 0;
    z-index: 99;
    background-color: #b0dab9;
    text-align: left;
    border-radius: 0 0 4px 4px;
}

section.header div.menu div.options.long {
    width: 102px;
}

section.header a.option {
    text-decoration: none;
}

section.header div.menu div.options .option {
    padding: 0 8px;
    display: block;
    font-size: 13px;
}

section.header div.menu div.options .option:hover {
    background-color: #DAD299;
}

section.main {
    padding-bottom: 30px;
}

section.main.live div.image-container {
    display: block;
}

section.main.gallery div.image-container {
    display: none;
}

section.main.live div.gallery-frame {
    display: none;
}

section.main.gallery div.gallery-frame {
    display: block;
}

section.main div.image-container {
    margin: 10px auto;
    position: relative;
}

section.main div.gallery-frame {
    width: 80%;
    min-height: 600px;
    margin: -2px auto;
    border: 2px solid #b0dab9;
    border-top: 0 solid transparent;
}

div.switch-controller {
    height: 60px;
    border-bottom: 2px solid #b0dab9;
    width: 80%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
}

span.switcher {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    border-radius: 8px 8px 0 0;
    margin-left: 20px;
    margin-top: 22px;
    padding: 0 12px;
    background-color: floralwhite;
    cursor: pointer;
}

div.switch-controller.contact span.switcher.contact-map {
    border: 2px solid #b0dab9;
    border-bottom: 2px solid floralwhite;
}

div.switch-controller.network span.switcher.network-graph {
    border: 2px solid #b0dab9;
    border-bottom: 2px solid floralwhite;
}

div.type-selector {
    width: 80%;
    height: 42px;
    line-height: 42px;
    margin: auto;
    text-align: center;
}

span.type-option {
    display: inline-block;
    margin-left: 20px;
}

canvas {
    display: block;
    width: 800px;
    height: 600px;
    margin: auto;
}

svg {
    display: none;
}

.info-panel {
    width: 120px;
    height: 100px;
    padding: 10px 0;
    position: fixed;
    margin-top: -122px;
    display: none;
    background-color: #eeeeee;
    border-radius: 6px;
    color: mediumpurple;
    flex-direction: column;
    justify-content: space-around;
}

.info-panel.live {
    display: flex;
}

div.row {
    margin: 0 20px;
}

div.row span.prop {
    width: 30px;
    text-align: right;
}

div.gallery-image {
    width: 90%;
    height: 90%;
    border: 1px solid #DDDDDD;
}

@media print {
    .no-print {
        display: none;
    }
}